.copy-buttons-container{
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.copy-buttons-container > button:not(:last-child){
    margin-right: 6px;
}

.copy-img{
    width:25px;
    height: 25px;
}